{% extends 'base.html.twig'%}
{% block body %}
    <body>
    <!--
    <div id="app">
        <p>{{  info }}</p>
    </div>
    -->
    <div id="root"></div>
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    </body>
{% endblock %}